darkflow/Samplesetup1.jpg

__pycache__/
darkflow/__pycache__/

# Python bytecode
/*.pyc
*.pyc

# Weight files
Controller/bin
Controller/cfg

# Annotated test results
darkflow/results/

# Intermediate training data
darkflow/backup/
darkflow/tfnet/yolo/parse-history.txt
darkflow/tfnet/yolo/*.parsed
darkflow/*.txt
!darkflow/requirements*.txt
darkflow/*.pb
darkflow/profile
darkflow/test.py

# Built cython files
darkflow/darkflow/cython_utils/*.pyd
darkflow/darkflow/cython_utils/*.c

#egg-info
darkflow/darkflow.egg-info/

#Other build stuff
darkflow/build/

#TensorBoard logs
darkflow/summary/

#Built graphs
darkflow/built_graph/

#Training checkpoints
darkflow/ckpt/*

#pytest cache
darkflow/.cache/
*.pyc
*.pyc
darkflow/__pycache__/YoloService.cpython-37.pyc
*.pyc
darkflow/__pycache__/YoloService.cpython-37.pyc
darkflow/darkflow/__pycache__/__init__.cpython-37.pyc
darkflow/darkflow/__pycache__/defaults.cpython-37.pyc
darkflow/darkflow/cython_utils/__pycache__/__init__.cpython-37.pyc
darkflow/darkflow/dark/__pycache__/__init__.cpython-37.pyc
darkflow/darkflow/dark/__pycache__/connected.cpython-37.pyc
darkflow/darkflow/dark/__pycache__/convolution.cpython-37.pyc
darkflow/darkflow/dark/__pycache__/darknet.cpython-37.pyc
darkflow/darkflow/dark/__pycache__/darkop.cpython-37.pyc
darkflow/darkflow/dark/__pycache__/layer.cpython-37.pyc
darkflow/darkflow/net/__pycache__/__init__.cpython-37.pyc
darkflow/darkflow/net/__pycache__/build.cpython-37.pyc
darkflow/darkflow/net/__pycache__/flow.cpython-37.pyc
darkflow/darkflow/net/__pycache__/framework.cpython-37.pyc
darkflow/darkflow/net/__pycache__/help.cpython-37.pyc
darkflow/darkflow/net/ops/__pycache__/__init__.cpython-37.pyc
darkflow/darkflow/net/ops/__pycache__/baseop.cpython-37.pyc
darkflow/darkflow/net/ops/__pycache__/convolution.cpython-37.pyc
darkflow/darkflow/net/ops/__pycache__/simple.cpython-37.pyc
darkflow/darkflow/net/vanilla/__pycache__/__init__.cpython-37.pyc
darkflow/darkflow/net/vanilla/__pycache__/train.cpython-37.pyc
darkflow/darkflow/net/yolo/__pycache__/__init__.cpython-37.pyc
darkflow/darkflow/net/yolo/__pycache__/data.cpython-37.pyc
darkflow/darkflow/net/yolo/__pycache__/misc.cpython-37.pyc
darkflow/darkflow/net/yolo/__pycache__/predict.cpython-37.pyc
darkflow/darkflow/net/yolo/__pycache__/train.cpython-37.pyc
darkflow/darkflow/net/yolov2/__pycache__/__init__.cpython-37.pyc
darkflow/darkflow/net/yolov2/__pycache__/data.cpython-37.pyc
darkflow/darkflow/net/yolov2/__pycache__/predict.cpython-37.pyc
darkflow/darkflow/net/yolov2/__pycache__/train.cpython-37.pyc
darkflow/darkflow/utils/__pycache__/__init__.cpython-37.pyc
darkflow/darkflow/utils/__pycache__/box.cpython-37.pyc
*.pyc
.idea/modules.xml
.idea/ObjectVersionControl.iml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/workspace.xml
venv/
